body {
    color: white;
    background: rgb(100, 100, 100);
    font-family: "Comic Sans MS";
}

header {
    display: flex;
    width: 1000px;
    height: 20px;
    margin: 20px 0px 0px 15px;
    background-color: rgb(100, 100, 100);
    align-items: center;
    border-radius: 10px;
}

.title {
    margin-right: auto;
    margin: 0px 0px 0px 10px;
}

.line {
    display: flex;
}

.formArea {
    padding: 0px 0px 20px 0px;
    margin: 5px 0px 0px 0px;
}

.formLine {
    display: flex;
    margin: 0px 0px 5px 0px;
}

.formText {
    width: 100px;
    text-align: right;
    margin: 0px 10px 0px 0px;
}

.formInput {
    margin: 0px 10px 0px 0px;
}

.playerNum {
    text-align: center;
    height: 26px;
    margin: 0px 5px 0px 5px;
}

.playerName {
    height: 20px;
    margin: 0px 3px 0px 0px;
}

.Enter {
    margin: 0px 0px 0px 30px;
}

.formInput {
    width: 135px;
    display: flex;
}

.myName {
    margin: 0px 0px 25px 0px;
    font-size: 25px;
    text-align: center;
    width: 330px;
    height: 40px;
    border-radius: 10px;
    color: Black;
    background-color: rgb(230, 230, 230);
    border: 5px solid;
    border-color: rgb(240, 240, 240);
}

.friendName {
    margin: 87px 0px 25px 0px;
    font-size: 25px;
    text-align: center;
    width: 330px;
    height: 40px;
    border-radius: 10px;
    color: black;
    background-color: rgb(230, 230, 230);
    border: 5px solid;
    border-color: rgb(240, 240, 240);
}

.VStack {
    margin: 20px;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    padding: 20px;
    border: 5px solid;
    border-color: rgb(150, 150, 150);
    border-radius: 10px;
    background: rgb(230, 230, 230);
}

.secondBox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    padding: 20px;
    border: 5px solid;
    border-color: rgb(150, 150, 150);
    border-radius: 10px;
    background: rgb(230, 230, 230);
}

.thirdBox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    padding: 20px;
    border: 5px solid;
    border-color: rgb(150, 150, 150);
    border-radius: 10px;
    background: rgb(230, 230, 230);
}

.outsideBox {
    background: rgb(230, 230, 230);
    width: 330px;
    height: 330px;
    padding: 0px 0px 0px 0px;
    border-radius: 10px;
    border: 5px solid;
    border-color: rgb(240, 240, 240);
}

.secondOutsideBox {
    background: rgb(230, 230, 230);
    width: 250px;
    height: 250px;
    padding: 0px 0px 0px 0px;
    border-radius: 10px;
    border: 5px solid;
    border-color: rgb(240, 240, 240);
    margin: 202px 0px 0px 0px;
}

.thirdOutsideBox {
    background: rgb(230, 230, 230);
    width: 330px;
    height: 330px;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    border-radius: 10px;
    border: 5px solid;
    border-color: rgb(240, 240, 240);
}

.entireView {
    margin: 5px;
}

.label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    padding: 0px 0px 0px 0px;
}

.space {
    padding: 10px 0px 0px 10px
}

.flexbox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* 外枠 */
.callButton {
    padding: 0px 0px 0px 120px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px;
}

.sendButton {
    padding: 0px 0px 0px 90px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 19px;
}

.outsideResultBox {
    color: black;
    background: rgb(230, 230, 230);
    width: 330px;
    height: 150px;
    border-radius: 10px;
    border-radius: 10px;
    border: 5px solid;
    border-color: rgb(240, 240, 240);
    padding: 0px 0px 0px 0px;
}

.thirdOutsideResultBox {
    color: black;
    background: rgb(230, 230, 230);
    width: 330px;
    height: 150px;
    border-radius: 10px;
    border-radius: 10px;
    border: 5px solid;
    border-color: rgb(240, 240, 240);
    padding: 0px 0px 0px 0px;
    margin: 66.5px 0px 0px 0px;
}

.resultBox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10px;
    height: 10px;
    padding: 20px;
    border: 5px solid;
    background: #3f3f3f;
    border-color: rgb(150, 150, 150);
    border-radius: 100px;
}



ここに文字を入力してください。
/* colorList1 プルダウンメニューの色 */
#colorList1 option:nth-child(1) {
    background: white;
    color: black;
    font-size: 130%;
}

#colorList1 option:nth-child(2) {
    background: #ff7f7f;
    color: #ffebe6;
    font-size: 130%;
}

#colorList1 option:nth-child(3) {
    background: #ffbf7f;
    color: #ff4500;
    font-size: 130%;
}

#colorList1 option:nth-child(4) {
    background: #ffff7f;
    color: #ff7f7f;
    font-size: 130%;
}

#colorList1 option:nth-child(5) {
    background: #bfff7f;
    color: #008000;
    font-size: 130%;
}

#colorList1 option:nth-child(6) {
    background: #7fffbf;
    color: #004627;
    font-size: 130%;
}

#colorList1 option:nth-child(7) {
    background: #7fffff;
    color: #007fa0;
    font-size: 130%;
}

#colorList1 option:nth-child(8) {
    background: #7fbfff;
    color: #3e367a;
    font-size: 130%;
}

#colorList1 option:nth-child(9) {
    background: #bf7fff;
    color: #483d8b;
    font-size: 130%;
}

#colorList1 option:nth-child(10) {
    background: #ff7fff;
    color: #96328a;
    font-size: 130%;
}

#colorList1 option:nth-child(11) {
    background: #f5f5f5;
    color: black;
    font-size: 130%;
}

/* colorList1 プルダウンメニューの色ここまで */

/* colorList2 プルダウンメニューの色 */
#colorList2 option:nth-child(1) {
    background: white;
    color: black;
    font-size: 130%;
}

#colorList2 option:nth-child(2) {
    background: #ff7f7f;
    color: #ffebe6;
    font-size: 130%;
}

#colorList2 option:nth-child(3) {
    background: #ffbf7f;
    color: #ff4500;
    font-size: 130%;
}

#colorList2 option:nth-child(4) {
    background: #ffff7f;
    color: #ff7f7f;
    font-size: 130%;
}

#colorList2 option:nth-child(5) {
    background: #bfff7f;
    color: #008000;
    font-size: 130%;
}

#colorList2 option:nth-child(6) {
    background: #7fffbf;
    color: #004627;
    font-size: 130%;
}

#colorList2 option:nth-child(7) {
    background: #7fffff;
    color: #007fa0;
    font-size: 130%;
}

#colorList2 option:nth-child(8) {
    background: #7fbfff;
    color: #3e367a;
    font-size: 130%;
}

#colorList2 option:nth-child(9) {
    background: #bf7fff;
    color: #483d8b;
    font-size: 130%;
}

#colorList2 option:nth-child(10) {
    background: #ff7fff;
    color: #96328a;
    font-size: 130%;
}

#colorList2 option:nth-child(11) {
    background: #f5f5f5;
    color: black;
    font-size: 130%;
}

/* colorList2 プルダウンメニューの色ここまで */

/* colorList3 プルダウンメニューの色 */
#colorList3 option:nth-child(1) {
    background: white;
    color: black;
    font-size: 130%;
}

#colorList3 option:nth-child(2) {
    background: #ff7f7f;
    color: #ffebe6;
    font-size: 130%;
}

#colorList3 option:nth-child(3) {
    background: #ffbf7f;
    color: #ff4500;
    font-size: 130%;
}

#colorList3 option:nth-child(4) {
    background: #ffff7f;
    color: #ff7f7f;
    font-size: 130%;
}

#colorList3 option:nth-child(5) {
    background: #bfff7f;
    color: #008000;
    font-size: 130%;
}

#colorList3 option:nth-child(6) {
    background: #7fffbf;
    color: #004627;
    font-size: 130%;
}

#colorList3 option:nth-child(7) {
    background: #7fffff;
    color: #007fa0;
    font-size: 130%;
}

#colorList3 option:nth-child(8) {
    background: #7fbfff;
    color: #3e367a;
    font-size: 130%;
}

#colorList3 option:nth-child(9) {
    background: #bf7fff;
    color: #483d8b;
    font-size: 130%;
}

#colorList3 option:nth-child(10) {
    background: #ff7fff;
    color: #96328a;
    font-size: 130%;
}

#colorList3 option:nth-child(11) {
    background: #f5f5f5;
    color: black;
    font-size: 130%;
}

/* colorList3 プルダウンメニューの色ここまで */

/* colorList4 プルダウンメニューの色 */
#colorList4 option:nth-child(1) {
    background: white;
    color: black;
    font-size: 130%;
}

#colorList4 option:nth-child(2) {
    background: #ff7f7f;
    color: #ffebe6;
    font-size: 130%;
}

#colorList4 option:nth-child(3) {
    background: #ffbf7f;
    color: #ff4500;
    font-size: 130%;
}

#colorList4 option:nth-child(4) {
    background: #ffff7f;
    color: #ff7f7f;
    font-size: 130%;
}

#colorList4 option:nth-child(5) {
    background: #bfff7f;
    color: #008000;
    font-size: 130%;
}

#colorList4 option:nth-child(6) {
    background: #7fffbf;
    color: #004627;
    font-size: 130%;
}

#colorList4 option:nth-child(7) {
    background: #7fffff;
    color: #007fa0;
    font-size: 130%;
}

#colorList4 option:nth-child(8) {
    background: #7fbfff;
    color: #3e367a;
    font-size: 130%;
}

#colorList4 option:nth-child(9) {
    background: #bf7fff;
    color: #483d8b;
    font-size: 130%;
}

#colorList4 option:nth-child(10) {
    background: #ff7fff;
    color: #96328a;
    font-size: 130%;
}

#colorList4 option:nth-child(11) {
    background: #f5f5f5;
    color: black;
    font-size: 130%;
}

/* colorList4 プルダウンメニューの色ここまで */
指定の文字を一括で置き換えます。
文字っ。

/* secondColorList1 プルダウンメニューの色 */
#secondColorList1 option:nth-child(1) {
    background: white;
    color: black;
    font-size: 130%;
}

#secondColorList1 option:nth-child(2) {
    background: #ff7f7f;
    color: #ffebe6;
    font-size: 130%;
}

#secondColorList1 option:nth-child(3) {
    background: #ffbf7f;
    color: #ff4500;
    font-size: 130%;
}

#secondColorList1 option:nth-child(4) {
    background: #ffff7f;
    color: #ff7f7f;
    font-size: 130%;
}

#secondColorList1 option:nth-child(5) {
    background: #bfff7f;
    color: #008000;
    font-size: 130%;
}

#secondColorList1 option:nth-child(6) {
    background: #7fffbf;
    color: #004627;
    font-size: 130%;
}

#secondColorList1 option:nth-child(7) {
    background: #7fffff;
    color: #007fa0;
    font-size: 130%;
}

#secondColorList1 option:nth-child(8) {
    background: #7fbfff;
    color: #3e367a;
    font-size: 130%;
}

#secondColorList1 option:nth-child(9) {
    background: #bf7fff;
    color: #483d8b;
    font-size: 130%;
}

#secondColorList1 option:nth-child(10) {
    background: #ff7fff;
    color: #96328a;
    font-size: 130%;
}

#secondColorList1 option:nth-child(11) {
    background: #f5f5f5;
    color: black;
    font-size: 130%;
}

/* secondColorList1 プルダウンメニューの色ここまで */

/* secondColorList2 プルダウンメニューの色 */
#secondColorList2 option:nth-child(1) {
    background: white;
    color: black;
    font-size: 130%;
}

#secondColorList2 option:nth-child(2) {
    background: #ff7f7f;
    color: #ffebe6;
    font-size: 130%;
}

#secondColorList2 option:nth-child(3) {
    background: #ffbf7f;
    color: #ff4500;
    font-size: 130%;
}

#secondColorList2 option:nth-child(4) {
    background: #ffff7f;
    color: #ff7f7f;
    font-size: 130%;
}

#secondColorList2 option:nth-child(5) {
    background: #bfff7f;
    color: #008000;
    font-size: 130%;
}

#secondColorList2 option:nth-child(6) {
    background: #7fffbf;
    color: #004627;
    font-size: 130%;
}

#secondColorList2 option:nth-child(7) {
    background: #7fffff;
    color: #007fa0;
    font-size: 130%;
}

#secondColorList2 option:nth-child(8) {
    background: #7fbfff;
    color: #3e367a;
    font-size: 130%;
}

#secondColorList2 option:nth-child(9) {
    background: #bf7fff;
    color: #483d8b;
    font-size: 130%;
}

#secondColorList2 option:nth-child(10) {
    background: #ff7fff;
    color: #96328a;
    font-size: 130%;
}

#secondColorList2 option:nth-child(11) {
    background: #f5f5f5;
    color: black;
    font-size: 130%;
}

/* secondColorList2 プルダウンメニューの色ここまで */

/* secondColorList3 プルダウンメニューの色 */
#secondColorList3 option:nth-child(1) {
    background: white;
    color: black;
    font-size: 130%;
}

#secondColorList3 option:nth-child(2) {
    background: #ff7f7f;
    color: #ffebe6;
    font-size: 130%;
}

#secondColorList3 option:nth-child(3) {
    background: #ffbf7f;
    color: #ff4500;
    font-size: 130%;
}

#secondColorList3 option:nth-child(4) {
    background: #ffff7f;
    color: #ff7f7f;
    font-size: 130%;
}

#secondColorList3 option:nth-child(5) {
    background: #bfff7f;
    color: #008000;
    font-size: 130%;
}

#secondColorList3 option:nth-child(6) {
    background: #7fffbf;
    color: #004627;
    font-size: 130%;
}

#secondColorList3 option:nth-child(7) {
    background: #7fffff;
    color: #007fa0;
    font-size: 130%;
}

#secondColorList3 option:nth-child(8) {
    background: #7fbfff;
    color: #3e367a;
    font-size: 130%;
}

#secondColorList3 option:nth-child(9) {
    background: #bf7fff;
    color: #483d8b;
    font-size: 130%;
}

#secondColorList3 option:nth-child(10) {
    background: #ff7fff;
    color: #96328a;
    font-size: 130%;
}

#secondColorList3 option:nth-child(11) {
    background: #f5f5f5;
    color: black;
    font-size: 130%;
}

/* secondColorList3 プルダウンメニューの色ここまで */

/* secondColorList4 プルダウンメニューの色 */
#secondColorList4 option:nth-child(1) {
    background: white;
    color: black;
    font-size: 130%;
}

#secondColorList4 option:nth-child(2) {
    background: #ff7f7f;
    color: #ffebe6;
    font-size: 130%;
}

#secondColorList4 option:nth-child(3) {
    background: #ffbf7f;
    color: #ff4500;
    font-size: 130%;
}

#secondColorList4 option:nth-child(4) {
    background: #ffff7f;
    color: #ff7f7f;
    font-size: 130%;
}

#secondColorList4 option:nth-child(5) {
    background: #bfff7f;
    color: #008000;
    font-size: 130%;
}

#secondColorList4 option:nth-child(6) {
    background: #7fffbf;
    color: #004627;
    font-size: 130%;
}

#secondColorList4 option:nth-child(7) {
    background: #7fffff;
    color: #007fa0;
    font-size: 130%;
}

#secondColorList4 option:nth-child(8) {
    background: #7fbfff;
    color: #3e367a;
    font-size: 130%;
}

#secondColorList4 option:nth-child(9) {
    background: #bf7fff;
    color: #483d8b;
    font-size: 130%;
}

#secondColorList4 option:nth-child(10) {
    background: #ff7fff;
    color: #96328a;
    font-size: 130%;
}

#secondColorList4 option:nth-child(11) {
    background: #f5f5f5;
    color: black;
    font-size: 130%;
}

/* secondColorList4 プルダウンメニューの色ここまで */